<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Curso</title>
</head>
<body>
    <h1>➕ Crear Curso</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Nombre:</label><br><input type="text" name="nombre" required><br><br>
        <label>Duración:</label><br><input type="text" name="duracion" required><br><br>
        <label>Plataforma:</label><br><input type="text" name="plataforma" required><br><br>
        <label>Dificultad:</label><br>
        <select name="dificultad" required>
            <option value="Básico">Básico</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Avanzado">Avanzado</option>
        </select><br><br>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'lista_cursos' %}">⬅️ Volver</a>
</body>
</html>
